#jb1 {
    height: 550;
    width: 550;
}
#ul1 {
    text-align: left;
    padding-left: 800;
}
#tribute-info {
    text-align: center;
}
#a1 {
    text-align: left;
    padding-left: 900;
}
#h1 {
    padding-top: 10;
    text-align: center;
}
#main {
    background-color: rgb(241, 43, 8);
}
#figcaption {
    padding-left: 800;
}
#a2 {
    color:rgb(34, 36, 211);
}
#tribute-link {
    color:rgb(34, 36, 211)
}