#jb1 {
    height: 350;
    width: 350;
}
#ul1 {
    padding-left: 800px;
}
#tribute-info {
    text-align: center;
}
#a1 {
    padding-left: 800;

}
#h1 {
    text-align: center;
}
#main {
    background-color: steelblue;
}